
main {
  min-height: 80vh;
}

.homepage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-top: 100px;
}

/* .react-bootstrap-table table {
  table-layout: auto !important;
} */

.alert {
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
}